* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-cream: #FEFCF7;
    --dark-cyan: #0E8784;
    --dark-grey: #2C343E;
    --dark-grey-blue: #333D4B;
    --pale-orange: #FDD6BA;
    --grey: #83888F;
}

.animated {
    transition: 0.2s;
}

.fraunces-title-alternate-big-text, .fraunces-h1, .fraunces-h2, .fraunces-h3, .fraunces-h4, .barlow-body-text, .nav-menu-text {
    font-style: normal;
}

.fraunces-title-alternate-big-text, .fraunces-h1, .fraunces-h2, .fraunces-h3, .fraunces-h4 {
    font-family: "Fraunces", serif;
}

.barlow-body-text, .nav-menu-text {
    font-family: Barlow;
}

.fraunces-h1, .fraunces-h2, .fraunces-h3, .fraunces-h4, .barlow-body-text {
    color: var(--dark-grey-blue);
}

.fraunces-title-alternate-big-text, .fraunces-h1, .fraunces-h2, .fraunces-h3, .fraunces-h4 {
    font-weight: 900;
}

.fraunces-title-alternate-big-text, .nav-menu-text {
    color: var(--grey);
}

.fraunces-title-alternate-big-text {
    font-size: 185px;
    line-height: 72px; /* 48% */
    text-transform: lowercase;
}

.fraunces-h1 {
    font-size: 72px;
    line-height: 72px; /* 100% */
}

.fraunces-h2 {
    font-size: 40px;
    line-height: 48px; /* 120% */
}

.fraunces-h3 {
    font-size: 32px;
    line-height: 36px; /* 112.5% */
}

.fraunces-h4 {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
}

.barlow-body-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.light-text {
    color: var(--light-cream);
}

.nav-menu-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
}

.main-btn {
    width: 217px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--dark-cyan);
    color: var(--light-cream);
    font-family: "Fraunces", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 138.889% */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
        background: #66D2CF;
    }
    &:disabled {
        background: #E2DEDB;
    }
}

body {
    background-color: var(--light-cream);
    padding: 0 80px;
}

.logo-link {
    display: flex;
    align-items: center;
    img {
        object-fit: contain;
        width: 236px;
    }
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 32px;
    a {
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: var(--dark-grey-blue);
        }
    }
}

header {
    margin: 0 auto;
    max-width: 1280px;
    height: 113px;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    flex-direction: column;
}

section {
    width: 100%;
    padding: 0 85px;
}

.cofee-descr {
    display: flex;
    align-items: center;
    background-image: url('./../assets/home/desktop/image-hero-coffeepress.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-height: 600px;
    div {
        p {
            max-width: 444px;
            margin-top: 32px;
            margin-bottom: 56px;
            opacity: 0.8;
        }
    }
}

.our-collection {
    position: relative;
    text-align: center;
    margin-top: 222px;
    h2 {
        position: relative;
        padding-bottom: 0;
        color: #a2a4a7;
        &::after {
            content: '';
            position: absolute;
            top: -6rem;
            bottom: -3rem;
            right: 0;
            left: 0;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.0001)), to(#fefcf7));
            background-image: linear-gradient(rgba(254, 252, 247, 0.0001) 0%, #fefcf7 100%);
        }
    }
    .collection-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
        article {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 255px;
            height: 400px;
            z-index: 2;
            .collection-img {
                height: 183px;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
                &:nth-child(1) {
                    background-image: url('./../assets/home/desktop/image-gran-espresso.png');
                }
                &:nth-child(2) {
                    background-image: url('./assets/home/desktop/image-planalto.png');
                }
                &:nth-child(3) {
                    background-image: url('./assets/home/desktop/image-piccollo.png');
                }
                &:nth-child(4) {
                    background-image: url('./assets/home/desktop/image-danche.png');
                }
            }
            .collection-descr {
                h4 {
                    margin-bottom: 24px;
                }
            }
        }
    }
}

.why-us {
    position: relative;
    margin-top: 200px;
    padding: 100px 85px 0 85px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 577px;
        background-color: var(--dark-grey);
        z-index: -1;
        border-radius: 10px;
    }
    h2, p {
        color: var(--light-cream);
        max-width: 540px;
    }
    .why-us-wrap {
        width: 100%;
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        article {
            width: 350px;
            height: 382px;
            background-color: var(--dark-cyan);
            border-radius: 8px;
            padding: 48px;
            .why-us-img {
                height: 104px;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                &:nth-child(1) {
                    background-image: url('./../assets/home/desktop/icon-coffee-bean.svg');
                }
                &:nth-child(2) {
                    background-image: url('./../assets/home/desktop/icon-gift.svg');
                }
                &:nth-child(3) {
                    background-image: url('./../assets/home/desktop/icon-truck.svg');
                }
            }
            .why-us-descr {
                margin-top: 48px;
                height: 134px;
                h4 {
                    margin-bottom: 24px;
                    color: var(--light-cream);
                }
            }
        }
    }
}

.how-works {
    margin: 200px 0px;
    padding: 0 85px;
    h4 {
        color: var(--grey);;
    }
}

.how-works-wrap {
    position: relative;
    margin-top: 95px;
    display: flex;
    gap: 95px;
    margin-bottom: 64px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 1px;
        background-color: var(--pale-orange);
        z-index: 0;
    }
    article {
        position: relative;
        width: 285px;
        padding-top: 82px;
        .fraunces-h1 {
            margin-bottom: 38px;
            color: var(--pale-orange);
        }
        .fraunces-h3 {    
            margin-bottom: 42px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 31px;
            height: 31px;
            background-color: var(--light-cream);
            z-index: 1;
            border: 2px solid var(--dark-cyan);
            border-radius: 100%;
            transform: translateY(-50%);
        }
        &:last-child {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: var(--light-cream);
                z-index: 1;
            }
        }
    }
}

footer {
    margin: 0 auto;
    max-width: 1280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-grey);
    margin-bottom: 88px;
    padding: 0 85px;
    div {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 103px;
        .nav-bar {
            a:hover {
                color: var(--light-cream);
            }
        }
        }
    .shared {
        justify-content: center;
        gap: 24px;
        a {
            svg {
                fill: var(--light-cream);   
                &:hover {
                    fill: var(--pale-orange);
                }
            }
        }
    }
}

.about-us {
    min-height: 450px;
    background-image: url('./../assets/about/desktop/image-hero-whitecup.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 168px;
    gap: 24px;
    border-radius: 10px;
    h2, p {
        color: var(--light-cream);
    }
    p {
        max-width: 445px;
    }
}

.commitment {
    min-height: 520px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    margin-bottom: 168px;
    .commitment-img {
        border-radius: 8px;
    }
    .commitment-text {
        display: flex;
        flex-direction: column;
        max-width: 540px;
        gap: 32px;
    }
}

.quality {
    display: flex;
    position: relative;
    padding-bottom: 88px;
    align-items: center;
    margin-bottom: 168px;
    gap: 80px;
    justify-content: space-between;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 474px;
        background-color: var(--dark-grey);
        left: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 10px;
    }
    .quality-text {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 88px;
        max-width: 540px;
        h2, p {
            color: var(--light-cream);
        }
    }
    .quality-img {
        border-radius: 8px;
    }
}

.headquarters {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin-bottom: 168px;
    h4 {
        color: var(--grey);
    }
    .headquarters-wrap {
        display: flex;
        gap: 95px;
        article {
            width: 285px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            .headquarters-img {
                height: 73px;
                width: 73px;
                background-repeat: no-repeat;
            }
            address a {
                text-decoration: none;
                color: var(--dark-grey-blue);
                &:hover {
                    text-decoration: underline;
                }
            }
            &:nth-child(1) {
                .headquarters-img {
                    background-image: url('./../assets/about/desktop/illustration-uk.svg');
                }
            }
            &:nth-child(2) {
                .headquarters-img {
                    background-image: url('./../assets/about/desktop/illustration-canada.svg');
                }
            }          
            &:nth-child(3) {
                .headquarters-img {
                    background-image: url('./../assets/about/desktop/illustration-australia.svg');
                }
            }
        }
    }
}

.create-plan {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    background-image: url('./../assets/plan/desktop/image-hero-blackcup.jpg');
    margin-bottom: 168px;
    border-radius: 10px;
    h1, p {
        color: var(--light-cream);
    }
    p {
        max-width: 445px;
        opacity: 0.8;
    }
}

.how-works-dark {
    background-color: var(--dark-grey);
    margin-bottom: 168px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
    .how-works-wrap {
        margin: 0;
        justify-content: left;
        width: unset;
        article {
            h3, p {
                color: var(--light-cream);
            }
            &::after {
                background-color: var(--dark-grey);
            }
            &:last-child {
                &::before {
                    background-color: var(--dark-grey);
                }
            }
        }
    }
}

.plan-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 125px;
    margin-bottom: 168px;
    .plan-form-menu {
        position: sticky;
        align-self: flex-start;
        top: 70px;
        margin-top: -24px;
        min-width: 255px;
        display: flex;
        flex-direction: column;
        overflow: visible;
        list-style: none;
        padding-left: 0;
        li {
            a {
                display: flex;
                gap: 25px;
                padding: 24px 0;
                border-bottom: 1px solid var(--grey);
                background: transparent;
                opacity: 0.4;
                cursor: pointer;
                &:hover {
                    opacity: 0.6;
                }
                &:active {
                    opacity: 1;
                }
            }
            a.active {
                opacity: 1;
            }
            a.filled {
                div {
                    color: var(--dark-cyan);
                }
            }
        }
        li:last-child {
            a {
                border: none;       
            }
            
        }
         
    }
    .plan-form-wrap {
        width: 730px;
        max-width: 730px;
        .form-option-wrap {
            overflow: hidden;
            width: 100%;
            max-height: 50px;
            transition: 0.3s;
            margin-bottom: 88px;
            button {
                position: relative;
                width: 100%;
                background: transparent;
                border: 0;
                display: flex;
                cursor: pointer;
                margin-bottom: 56px;
                h2 {
                    color: var(--grey);
                }
                &::before {
                    transition: 0.3s;
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transform: rotate(360deg);
                    width: 20px;
                    height: 15px;
                    background-image: url('./../assets/plan/desktop/icon-arrow.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            .form-option {
                display: flex;
                gap: 23px;
                min-height: 250px;
                input {
                    display: none;
                }
                label {
                    padding: 32px 28px;
                    background-color: #F4F1EB;
                    border-radius: 8px;
                    cursor: pointer;
                    opacity: 0;
                    transition: opacity 0.6s, background-color 0.2s;
                    width: 33%;
                    &:hover {
                        background-color: var(--pale-orange);
                    }
                    h4 {
                        margin-bottom: 24px;
                    }
                }
                label:has(input:checked) {
                    background-color: var(--dark-cyan);
                    h4, p {
                        color: var(--light-cream);
                    }
                }
            }
        }
        .form-option-wrap.active {
            max-height: 730px;
            button {
                &::before {
                    transform: rotate(180deg);
                }
            }
            .form-option {
                label {
                    opacity: 1;
                }
            }
        }
    }
    .order-summary-wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: end;
        .order-summary {
            width: 100%;
            padding: 27px 64px;
            background-color: var(--dark-grey);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            h5 {
                text-transform: uppercase;
                color: #fff;
                opacity: 0.5;
            }
            p, span {
                color: #FFF;
                font-size: 24px;
                font-weight: 900;
                line-height: 40px; /* 166.667% */
            }
            span {
                color: var(--dark-cyan);
            }
        }
        button {
            border: none;
            cursor: pointer;
            &:disabled {
                background-color: #E2DEDB;
                cursor: not-allowed;
            }
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* полупрозрачный чёрный */
    z-index: 10;
}

.overlay.active {
    display: block;
}

.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 11; /* выше, чем overlay */
    border-radius: 8px;
    max-width: 540px;
    .header {
        border-radius: 8px 8px 0px 0px;
        background-color: var(--dark-grey-blue);
        padding: 48px 56px 40px 56px;
        h2 {
            color: var(--light-cream);
        }
    }
    .content {
        padding: 56px;
        .summary {
            color: var(--grey);
            margin-bottom: 7px;
            span {
                color: var(--dark-cyan);
            }
        }
        .checkout {
            margin-top: 47px;
            display: flex;
            justify-content: space-between;
            button {
                border: none;
            }
        }
    }
}

.modal-window.active {
    display: block;
}